<div id="box">
    <h1 class="titulo" >{{title}}</h1>
    <h4 style="margin-bottom: -1px">1ª Parede</h4>
    <label for="alturaParede1" class="label" style="margin-left: 27px">Altura</label>
    <label for="larguraParede1" class="label" style="margin-left: -104px">Largura</label>
    <div class="flex">
        <input class="inputaltura" id="alturaParede1" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="alturaParede1">
        <label style="margin-left: 65px; margin-top: 7px;">X</label>
        <input class="inputlargura" id="larguraParede1" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="larguraParede1">
    </div>

    <label for="quantidadePortas" class="label-portas-janelas" style="margin-right: 130px;">Qtde de portas: </label>
    <label for="quantidadeJanelas" class="label-portas-janelas" style="margin-left: -2px;">Qtde de janelas: </label>
    <div class="flex">
        <input class="inputaltura" id="quantidadePortas" type="number" labelledby="label-name" placeholder="ex: 2,0" style="margin-right: 75px" [(ngModel)]="qtdePortas1"> 
        <input class="inputlargura" id="quantidadeJanelas" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="qtdeJanelas1">
    </div>
    
    <h4 style="margin-bottom: -1px">2ª Parede</h4>
    <label for="alturaParede2" class="label" style="margin-left: 27px">Altura</label>
    <label for="larguraParede2" class="label" style="margin-left: -104px">Largura</label>
    <div class="flex">
        <input class="inputaltura" id="alturaParede2" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="alturaParede2">
        <label style="margin-left: 65px; margin-top: 7px;">X</label>
        <input class="inputlargura" id="larguraParede2" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="larguraParede2">
    </div>

    <label for="quantidadePortas2" class="label-portas-janelas" style="margin-right: 130px;">Qtde de portas: </label>
    <label for="quantidadeJanquantidadeJanelas2elas" class="label-portas-janelas" style="margin-left: -2px;">Qtde de janelas: </label>
    <div class="flex">
        <input class="inputaltura" id="quantidadePortas2" type="number" labelledby="label-name" placeholder="ex: 2,0" style="margin-right: 75px" [(ngModel)]="qtdePortas2">
        <input class="inputlargura" id="quantidadeJanelas2" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="qtdeJanelas2">
    </div>

    <h4 style="margin-bottom: -1px">3ª Parede</h4>
    <label for="alturaParede3" class="label" style="margin-left: 27px">Altura</label>
    <label for="larguraParede3" class="label" style="margin-left: -104px">Largura</label>
    <div class="flex">
        <input class="inputaltura" id="alturaParede3" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="alturaParede3">
        <label style="margin-left: 65px; margin-top: 7px;">X</label>
        <input class="inputlargura" id="larguraParede3" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="larguraParede3">
    </div>

    <label for="quantidadePortas3" class="label-portas-janelas" style="margin-right: 130px;">Qtde de portas: </label>
    <label for="quantidadeJanelas3" class="label-portas-janelas" style="margin-left: -2px;">Qtde de janelas: </label>
    <div class="flex">
        <input class="inputaltura" id="quantidadePortas3" type="number" labelledby="label-name" placeholder="ex: 2,0" style="margin-right: 75px" [(ngModel)]="qtdePortas3">
        <input class="inputlargura" id="quantidadeJanelas3" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="qtdeJanelas3">
    </div>

    <h4 style="margin-bottom: -1px">4ª Parede</h4>
    <label for="alturaParede4" class="label" style="margin-left: 27px">Altura</label>
    <label for="larguraParede4" class="label" style="margin-left: -104px">Largura</label>
    <div class="flex">
        <input class="inputaltura" id="alturaParede4" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="alturaParede4">
        <label style="margin-left: 65px; margin-top: 7px;">X</label>
        <input class="inputlargura" id="larguraParede4" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="larguraParede4">
    </div>

    <label for="quantidadePortas4" class="label-portas-janelas" style="margin-right: 130px;">Qtde de portas: </label>
    <label for="quantidadeJanelas4" class="label-portas-janelas" style="margin-left: -2px;">Qtde de janelas: </label>
    <div class="flex">
        <input class="inputaltura" id="quantidadePortas4" type="number" labelledby="label-name" placeholder="ex: 2,0" style="margin-right: 75px" [(ngModel)]="qtdePortas4">
        <input class="inputlargura" id="quantidadeJanelas4" type="number" labelledby="label-name" placeholder="ex: 2,0" [(ngModel)]="qtdeJanelas4">
    </div>

    <button id="btnCalculo" type="submit" (click)="gerarTintas()" class="btnCalculo">Calculo</button>

    <div>
        <label *ngIf="isVisibleTextoFinal" id="lblTextFinal" class="textFinal">Serão utilizados {{textoTintas}}</label>
        <ul *ngIf="isValidacao" class="textFinal" style="margin-right: 20px">
            <li>Os dados passados podem estar errados, verifique o que pode ser</li>
            <li>1-Área da parede menor que 1m² ou maior que 15m²</li>
            <li>2-Altura da parede não é maior que 30cm da altura da porta</li>
            <li>3-A área de portas e janelas é maior que 50% da área da parede</li>
        </ul>
    </div>
    

    
    

</div>