body{
    background-image: url(../src/assets/imagens/wallpaper2-tintas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.titulo{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
}
#box{
    width: 400px;
    height: 850px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #708090;
    margin-left: 1250px;
    margin-top: 45px;
    text-align: center;
    border: 1px solid black;
    
}

.btnCalculo{
    border-radius: 8px;
    font-size: 20px;
    background-color: white; 
    color: black; 
}
.btnCalculo:hover{
    background-color: #008CBA;
    color: white;
}

.inputaltura{
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 3px solid black;
    width: 100px;
    height: 20px;
}

.inputlargura{
    margin-left: 55px;
    border-radius: 10px;
    border: 3px solid black;
    width: 100px;
    height: 20px;
}

.label
{
  margin-right: 300px;
  color: Black;
  font-weight: bold;
  top: 0; bottom: 0; left: 0; right: 0;                
}

.label-portas-janelas{
    color: Black;
    font-weight: bold;
}

.flex{
    display: flex;
}

.textFinal{
    margin-top: 2px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
}
